<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Componente: Hijo 1</h3>
  </div>
  <div class="panel-body">
    <h4>Lo único que voy a hacer es emitir el evento "Cambiar texto", pero YO NO PIENSO HACER NADA MÁS. QUE SE ENCARGUE PAPÁ</h4>
    <br>
    <button (click)="cambiarTexto()" class="btn btn-info">¡PAPÁ! CAMBIA EL TEXTO</button>
  </div>
</div>