<div class="panel panel-default">
    <div class="panel-heading">
      <h3>Componente: Hijo 2</h3>
    </div>
    <div class="panel-body">
      <h4>Soy el hijo 2</h4>
      <br>
      <p style="font-size: 2.3rem;">{{texto}}</p>
    </div>
  </div>