<div class="panel panel-default" style="text-align: center">
  <div class="panel-heading">
    <h2>Componente: Padre</h2>
  </div>
  <div class="panel-body">
    <h4>Si apretamos el botón "Cambiar texto" voy a cambiar el valor dentro mío y se lo voy a pasar a mi segundo hijo</h4>
    <app-hijo1 (evento)="cambiarTexto()"></app-hijo1>
    <app-hijo2 [texto]="texto"></app-hijo2>
  </div>
</div>